@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* COLORS */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.6;
  color: #94a3b8;
}
@media only screen and (width <= 49.5em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  background-color: #0f172a;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-rows: 100vh min-content;
  grid-template-columns: [full-start] 1fr [full-end];
}

a:active, a:link, a:visited {
  text-decoration: none;
}

.heading--primary {
  color: #e2e8f0;
  font-weight: 700;
  font-size: 5.8rem;
}
.heading--secondary {
  color: #5eead4;
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.heading--tertiary {
  color: #e2e8f0;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.highlight {
  color: #e2e8f0;
}

.section-title {
  color: #e2e8f0;
  font-weight: 700;
  font-size: 4.8rem;
  margin-bottom: 1.5rem;
  user-select: none;
}
.section-title:hover {
  color: #5eead4;
}

.section-line {
  width: 15rem;
  height: 1px;
  display: block;
  background-color: #5eead4;
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.showUp {
  animation: 2s showUp;
}

.btn {
  background: transparent;
}
.btn:link, .btn:visited {
  text-decoration: none;
  border: none;
  outline: none;
}
.btn:active, .btn:focus {
  border: none;
  outline: none;
}

.scroll-down {
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5eead4;
}
.scroll-down:hover .scroll-down__icon {
  transform: translateY(1rem);
}
.scroll-down:hover .scroll-down__text {
  opacity: 1;
}
.scroll-down__text {
  opacity: 0;
  transition: opacity 0.2s 0.1s;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}
.scroll-down__icon {
  display: inline-block;
  font-size: 4rem;
  transition: transform 0.3s;
  line-height: 0.4;
}

.experience {
  padding: 2rem;
  max-width: 50rem;
  border-radius: 4px;
  transition: all 0.2s;
}
.experience__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.experience__link {
  color: #94a3b8;
}
.experience:hover {
  background-color: rgba(30, 41, 59, 0.5);
  border: 0 solid rgb(229, 231, 235);
  box-shadow: #1b1b1b 0px 0px 0px 0px, #1b1b1b 0px 0px 0px 0px, rgba(148, 163, 184, 0.1) 0px 1px 0px 0px inset;
}
.experience:hover .experience__position {
  color: #5eead4;
}
.experience:hover .experience__picture {
  filter: brightness(1);
  border-color: #e2e8f0;
}
.experience__tools {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.experience__item {
  color: #5eead4;
  background-color: rgba(94, 234, 212, 0.1);
  padding: 0.5rem 0.75rem;
  border-radius: 15px;
  font-size: 1.2rem;
}
.experience__picture {
  border-radius: 8px;
  overflow: hidden;
  width: 30rem;
  height: 20rem;
  align-self: center;
  margin-bottom: 2rem;
  border: 2px solid #94a3b8;
  filter: brightness(0.8);
  transition: all 0.2s;
  margin: 0 auto 3rem auto;
}
.experience__picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experience-timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4rem;
  /* Timeline vertical line */
  /* Triangule at the bottom of the vertical line */
}
.experience-timeline:before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #5eead4;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  position: absolute;
}
@media only screen and (width <= 49.5em) {
  .experience-timeline:before {
    display: none;
  }
}
.experience-timeline:after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-color: #5eead4;
  bottom: 0px;
  right: 50%;
  transform: translate(52%, 100%);
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
@media only screen and (width <= 49.5em) {
  .experience-timeline:after {
    display: none;
  }
}
.experience-timeline__row {
  display: grid;
  grid-template-columns: 1fr 5rem 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
@media only screen and (width <= 49.5em) {
  .experience-timeline__row {
    grid-template-columns: max-content;
  }
}
.experience-timeline__row:nth-child(even) .experience-timeline__time {
  justify-self: self-end;
  order: 1;
}
.experience-timeline__row:nth-child(even) .experience-timeline__icon {
  order: 2;
}
.experience-timeline__row:nth-child(even) .experience {
  order: 3;
}
.experience-timeline__icon {
  background: #e2e8f0;
  width: 6rem;
  height: 6rem;
  z-index: 1;
  position: relative;
  border-radius: 50%;
  fill: #0f172a;
  transition: all 0.2s;
}
@media only screen and (width <= 49.5em) {
  .experience-timeline__icon {
    display: none;
  }
}
.experience-timeline__icon > svg {
  width: 3rem;
  height: 3rem;
  transform: translate(50%, 50%);
  position: absolute;
  top: 0;
  left: 0;
}
.experience-timeline__time {
  justify-self: self-start;
  color: #e2e8f0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 2rem;
}
@media only screen and (width <= 49.5em) {
  .experience-timeline__time {
    display: none;
  }
}
.experience-timeline__time--responsive {
  display: none;
}
@media only screen and (width <= 49.5em) {
  .experience-timeline__time--responsive {
    display: block;
  }
}

.experience:hover ~ .experience-timeline__icon {
  fill: #e2e8f0;
  background-color: #5eead4;
}

.gallery {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem;
}
@media only screen and (width <= 49.5em) {
  .gallery {
    display: flex;
    flex-direction: column;
  }
}
.gallery__item {
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}
.gallery__item:hover {
  transform: scale(1.01);
}
.gallery__item--1 {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
.gallery__item--2 {
  grid-row: 1/span 3;
  grid-column: 3/span 3;
}
.gallery__item--3 {
  grid-row: 1/span 2;
  grid-column: 6/span 1;
  background-color: white;
}
.gallery__item--4 {
  grid-row: 1/span 2;
  grid-column: 7/span 2;
}
.gallery__item--5 {
  grid-row: 3/span 3;
  grid-column: 1/span 2;
}
.gallery__item--6 {
  grid-row: 4/span 2;
  grid-column: 3/span 2;
  background-color: black;
}
.gallery__item--7 {
  grid-row: 4/span 1;
  grid-column: 5/span 1;
  background-color: #e2e8f0;
}
.gallery__item--8 {
  grid-row: 3/span 2;
  grid-column: 6/span 2;
}
.gallery__item--9 {
  grid-row: 3/span 3;
  grid-column: 8/span 1;
  background-color: #FFC384;
}
.gallery__item--10 {
  grid-row: 6/span 2;
  grid-column: 1/span 1;
  background-color: #e44d26;
}
.gallery__item--11 {
  grid-row: 6/span 2;
  grid-column: 2/span 2;
  background-color: #efd94f;
}
.gallery__item--12 {
  grid-row: 6/span 2;
  grid-column: 4/span 1;
  background-color: #379ad6;
}
.gallery__item--13 {
  grid-row: 5/span 3;
  grid-column: 5/span 3;
}
.gallery__item--14 {
  grid-row: 6/-1;
  background-color: #e2e8f0;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  background: #0f172a;
  padding: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.footer__list {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: currentcolor;
}
.footer__icon {
  font-size: 4rem;
  transition: transform 0.2s;
}
.footer__icon:hover {
  color: #5eead4;
  transform: translateY(-3px);
}
.footer__copyright a:link,
.footer__copyright a:visited {
  color: #e2e8f0;
  text-decoration: none;
  transition: color 0.2s;
}
.footer__copyright a:hover {
  color: #5eead4;
}

.navigation__checkbox {
  display: none;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__background {
  position: fixed;
  height: 7rem;
  width: 7rem;
  top: 4rem;
  right: 6.4rem;
  background: linear-gradient(#11998e, #38ef7d);
  border-radius: 50%;
  z-index: 99;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__button {
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  right: 6.4rem;
  background: #e2e8f0;
  border-radius: 50%;
  border: none;
  box-shadow: 0 1rem 3rem rgba(27, 27, 27, 0.7);
  text-align: center;
  outline: none;
  cursor: pointer;
  z-index: 101;
}
.navigation__button:hover {
  animation: pulsate 1s ease-out infinite;
}
.navigation__button:hover .navigation__icon::before {
  transform: translateY(-3px);
}
.navigation__button:hover .navigation__icon::after {
  transform: translateY(3px);
}
.navigation__icon {
  display: inline-block;
  position: relative;
  top: 3.5rem;
}
.navigation__icon, .navigation__icon:before, .navigation__icon:after {
  width: 3.5rem;
  height: 3px;
  background-color: #5eead4;
  transition: all 0.2s;
}
.navigation__icon:before, .navigation__icon:after {
  content: "";
  left: 0;
  position: absolute;
}
.navigation__icon:before {
  top: -1rem;
}
.navigation__icon:after {
  top: 1rem;
}
.navigation__nav {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(-200%, -50%);
  z-index: 100;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.navigation__item {
  text-align: center;
  background: linear-gradient(110deg, transparent 0, transparent 50%, #fff 50%, #fff 100%);
  background-size: 220%;
  transition: all 0.4s;
  color: #e2e8f0;
}
.navigation__item:hover {
  background-position: 100%;
  color: #5eead4;
  transform: translateX(2rem);
}
.navigation__link {
  width: 100%;
  padding: 1rem 2rem;
}
.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 300;
  color: currentcolor;
  display: inline-block;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(600px at center, rgba(29, 78, 216, 0.1490196078), transparent 80%);
  position: relative;
}
.header__row {
  display: flex;
  align-items: center;
  gap: 7rem;
}
.header__square {
  height: 2rem;
  width: 2rem;
  background: transparent;
  border: 3px solid #5eead4;
  animation: rotate 3s linear infinite;
}
.header__line {
  width: 2rem;
  height: 3px;
  background-color: #5eead4;
  animation: rotate 3s linear infinite;
}
.header__cross {
  width: 3rem;
  height: 3rem;
  animation: rotate 3s linear infinite;
}
.header__cross::before {
  content: "";
  width: 3rem;
  height: 3px;
  background-color: #5eead4;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header__cross::after {
  content: "";
  width: 3rem;
  height: 3px;
  background-color: #5eead4;
  display: block;
  transform-origin: 50% 50%;
  transform: rotate(90deg) translateX(-1.5px);
  position: absolute;
  top: 50%;
}
.header__circle {
  height: 3rem;
  width: 3rem;
  background: transparent;
  border-radius: 50%;
  border: 3px solid #5eead4;
  color: #5eead4;
  border-color: currentColor currentColor transparent transparent;
  animation: rotate 1.5s linear infinite;
}
.header__mouse {
  height: 5rem;
  width: 3rem;
  border: 3px solid #5eead4;
  border-radius: 15px;
  position: relative;
}
.header__mouse::before {
  content: "";
  position: absolute;
  top: 5px;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #5eead4;
  left: 50%;
  transform: translateX(-50%);
}
.header__mouse__cable {
  position: absolute;
  top: -20px;
  left: calc(50% - 25px);
  animation: shake 1s linear infinite;
}
.header .scroll-down {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

.section-experience {
  padding: 10rem;
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1b1b;
  padding: 10rem 0;
}
.section-skills .section-line {
  margin-bottom: 5rem;
}
.section-skills .gallery {
  align-self: stretch;
}

.skills {
  margin-top: 4rem;
  width: 60%;
  margin: 10rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 4rem;
}
.skills__title {
  font-size: 2.6rem;
  color: #e2e8f0;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.skills__list {
  color: #e2e8f0;
  list-style: none;
  margin-left: 1rem;
}
.skills__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}
.skills__item__icon {
  color: #5eead4;
}

.section-side-projects {
  padding: 10rem;
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-projects {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(30rem, max-content));
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
