.experience {
  padding: 2rem;
  max-width: 50rem;
  border-radius: 4px;
  transition: all .2s;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__link {
    color: $color-grey;
  }
  
  &:hover {
    background-color: rgba(30, 41, 59, 0.5);
    border: 0 solid rgb(229, 231, 235);
    box-shadow: $color-black 0px 0px 0px 0px, $color-black 0px 0px 0px 0px, rgba(148, 163, 184, 0.1) 0px 1px 0px 0px inset;

    .experience__position {
      color: $color-secondary;
    }

    .experience__picture {
      filter: brightness(1);
      border-color: $color-white;
    }
  }

  &__tools {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }

  &__item {
    color: $color-secondary;
    background-color: rgba($color-secondary, 0.1);
    padding: .5rem .75rem;
    border-radius: 15px;
    font-size: 1.2rem;
  }

  &__picture {
    border-radius: 8px;
    overflow: hidden;
    width: 30rem;
    height: 20rem;
    align-self: center;
    margin-bottom: 2rem;
    border: 2px solid $color-grey;
    filter: brightness(.8);
    transition: all .2s;
    margin: 0 auto 3rem auto;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

}
