.section-side-projects {
  padding: 10rem;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-projects {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(30rem, max-content));
  justify-content: center;
}